@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 224 100% 22%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --muted: 240 20% 99%;
    --muted-foreground: 223 3% 52%;
    --accent: 222 91% 96%;
    --accent-foreground: 0 0% 0%;
    --destructive: 349 93% 47%;
    --destructive-foreground: 0 0% 100%;
    --border: 228 3% 68%;
    --input: 240 3% 93%;
    --ring: 224 100% 22%;
    --radius: 0.5rem;
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    --spacing-2xl: 4rem;
    --font-sans: "Albert Sans", sans-serif;
    --font-heading: "Albert Sans", sans-serif;
  }

  .dark {
    --primary: 224 100% 22%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --muted: 240 20% 99%;
    --muted-foreground: 223 3% 52%;
    --accent: 222 91% 96%;
    --accent-foreground: 0 0% 0%;
    --destructive: 349 93% 47%;
    --destructive-foreground: 0 0% 100%;
    --border: 228 3% 68%;
    --input: 240 3% 93%;
    --ring: 224 100% 22%;
    --radius: 0.5rem;
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    --spacing-2xl: 4rem;
    --font-sans: "Albert Sans", sans-serif;
    --font-heading: "Albert Sans", sans-serif;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(--font-sans);
  }
}
